@charset "ISO-8859-1";

.basicinfo{
	text-align: left;
	display: none;
}

.info{
	text-align: center;
}

p.content{
	margin-top: 10%;
	margin-bottom: 10%;
}


#submit{
	margin-top: 10%;
}

