@charset "ISO-8859-1";

/*CSS-File für die UI*/

/*Allgemeine Formatierungen für gesamte Page*/
html {
    height: 100%;
    width: 100%;
}

body{
	margin:0;
	padding:0;
	font-family: century-gothic, sans-serif;
	height: inherit;
    width: inherit;
	}

/*Formatierung für den Header Div*/
div#navbar{
	position: fixed;
	top: 0;
	background-color: rgb(64, 64, 64);
  	width: 100%;
  	height: 38px;
	color: white;
	text-align: center;
	
}
/*Formatierung für die Navigationsbar*/
nav{
	margin-top: 2.5px;
	font-weight:bold;
	font-size: x-large; 
}

p#nav{
	margin: 0;
}

/*Icon Größen genormt*/
img.nav{
	height: 30px;
	width: 30px;
}
/*Backbutton angepasst*/
img#back{
	height: 25px;
	width: 25px;
}
/*Position der Links auf den Icons festgelegt*/
a.nav{
	position: fixed;
	top: 3.5px;
}

a#left{
	left: 15px;
}

a#back{
	left: 60px;
	top: 6px;
}

a#right{
	right: 15px;
}



/*Formatierung für die linke Sidebar*/
div#leftbar{
	position:static;
	float:left;
	background-color: rgb(4, 170, 109);
    width: 15vw;
    height: 100vh;

}
/*Formatierung für die rechte Sidebar*/
div#rightbar{
	position:static;
	float:right;
	background-color: rgb(4, 170, 109);
    width: 15vw;
    height: 100vh; 
}
/*Formatierung für den Zentralen Bereich*/
div#central{
	display: inline;
	background-color:white;
    width: 70%;
    height: 95%;
    overflow: auto;
}
/*Formatierung für Content im Zentralen Bereich*/
div#content{
	padding-top: 5%;
    justify-content: center;
    display: flex;
    text-align: center;
}

/*Formatierung von MessageBean Feld(Befindet sich im Zentralen Bereich)*/
div#mainmsg{
	padding-top: 3%;
	justify-content: center;
	display: flex;
	text-align: center;
}

div#secondarymsg{
	padding-top: 5%;
	justify-content: center;
	display: flex;
	text-align: center;
}

/*Formatierung von Buttons*/
input.button{
	color: white;
 	background-color: #04AA6D;
	border: none;
	border-radius: 6px;
	padding: 8px 16px;
	text-align: center;
	font-size: 12px;
}

/*Formatierungen für den Footer*/
footer{
	top: 100%;
	width: 100%;
	position: absolute;
	background-color: rgb(64, 64, 64);
 	color: white;

}
