@charset "ISO-8859-1";

/*Formatierung Login/Registrierungs Feld*/
div.login{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

/*Formatierung von Buttons*/
input.button{
	color: white;
 	background-color: #04AA6D;
	border: none;
	border-radius: 6px;
	padding: 8px 16px;
	text-align: center;
	font-size: 12px;
}